<div ng-class="">
    <md-button
            class="job-nav-btn"
            layout="row"
            href="#/chart/{{job.id}}"
            style="padding-left: 15px">
        <span flex ng-transclude></span>
    </md-button>

    <md-button
            ng-repeat="(node, tasks) in job.nodeTasks"
            href="#/chart/{{job.id}}/{{node}}"
            class="job-nav-btn"
            layout="row"
            style="padding-left: 30px">
        <span flex>{{node}}</span>
        <span>{{tasks.length}}</span>
    </md-button>
</div>