<md-content layout="column">
    <md-list flex>
        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3>Server started on</h3>
                    <h4>{{info.startedOn}}</h4>
                </div>
            </md-item-content>
        </md-item>
        <md-divider />

        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3>Hadoop version</h3>
                    <h4>{{info.hadoopVersion}}</h4>
                </div>
            </md-item-content>
        </md-item>
        <md-divider />

        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3>Hadoop build version</h3>
                    <h4>{{info.hadoopBuildVersion}}</h4>
                </div>
            </md-item-content>
        </md-item>
        <md-divider />

        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3>Hadoop version built on</h3>
                    <h4>{{info.hadoopVersionBuiltOn}}</h4>
                </div>
            </md-item-content>
        </md-item>
    </md-list>


</md-content>