<!DOCTYPE html>
<html ng-app="hcc">

<head lang="ko">
    <meta charset="UTF-8">
    <title>Hadoop Cuda Performance Chart - Parallel Software Design Lab - Univ. of Seoul</title>

    <link rel="stylesheet" href="/bower/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/app.css">

    <script src="/bower/jquery/dist/jquery.min.js"></script>

    <script src="http://code.highcharts.com/4.0.4/highcharts.js"></script>
    <script src="http://code.highcharts.com/4.0.4/highcharts-more.js"></script>

    <script src="/bower/angular/angular.min.js"></script>
    <script src="/bower/angular-route/angular-route.min.js"></script>
    <script src="/bower/angular-aria/angular-aria.min.js"></script>
    <script src="/bower/angular-animate/angular-animate.min.js"></script>
    <script src="/bower/angular-material/angular-material.min.js"></script>

    <script src="/app.js"></script>

</head>

<body layout="row">

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
            md-is-locked-open="$media('gt-sm')">

    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <span>Parlab - Univ. of Seoul</span>
        </div>
    </md-toolbar>

    <md-content flex ng-controller="jobListCtrl">
        <md-subheader class="md-primary">Jobs</md-subheader>
        <div layout="column">
            <md-button
                    class="job-nav-btn"
                    layout="row"
                    ng-repeat="job in jobs"
                    href="#/chart/{{job.id}}"
                    style="padding-left: 15px">
                <span flex>{{job.name}}</span>
            </md-button>

            <pl-job-button
                    ng-repeat="job in jobs"
                    job="job">
                {{job.name}}
            </pl-job-button>
        </div>

    </md-content>

</md-sidenav>

<div layout="column" flex id="content">
    <md-toolbar layout="row" ng-controller="toolbarCtrl">
        <div class="md-toolbar-tools">
            <span ng-repeat="title in titles">
                {{title}}
                <img ng-if="!$last" src="img/docArrow.png" style="width: 16px;height: 16px;margin-right: 10px">
            </span>

            <span flex></span>
        </div>
    </md-toolbar>

    <md-content layout="column" flex class="md-padding" ng-view></md-content>

</div>

</body>

</html>
